In [6]:
import pandas as pd
from geocoder import Geocoder

### Drop unessessary cols

In [7]:
districts = pd.read_csv('datasets/raw/districts.csv')
blocks = pd.read_csv('datasets/raw/blocks.csv')
mouzas = pd.read_csv('datasets/raw/mouzas.csv')

In [8]:
districts[['id', 'name', 'district_code']].to_csv('datasets/processed/districts.csv', index=False)
blocks[['id', 'name', 'block_code', 'district_id']].to_csv('datasets/processed/blocks.csv', index=False)
mouzas[['id','name', 'jl_number', 'block_id']].to_csv('datasets/processed/mouzas.csv', index=False)

In [9]:
districts = pd.read_csv('datasets/processed/districts.csv')
blocks = pd.read_csv('datasets/processed/blocks.csv')
mouzas = pd.read_csv('datasets/processed/mouzas.csv')

### Get cordinates of districts

In [10]:
from geopy.geocoders import Nominatim
geo = Nominatim(view_box=('21.2585669', '85.8264466', '27.2212039', '89.8775684'))
geo 
dist_coor = {}
for dist in districts['name']:
    try:
        dist_coor[dist] = geo.geocode(query=dist, exactly_one=True, timeout=4, geometry='geojson')
        print(dist_coor[dist])
    except Exception as e:
        print(e)

None
Dakshin Dinajpur, West Bengal, India
Nadia, West Bengal, India
Malda, Māldah, Maldah, West Bengal, 732101, India
District Science Center, Purulia, NH314, Puruliya, West Bengal, 723101, India
Paschim Medinipur, West Bengal, India
Bānkurā, Bankura, West Bengal, India
Bagdogra Airport, NH27, Bagdogra, Darjiling, Darjeeling, West Bengal, India
Jalpaiguri, West Bengal, 735101, India
Alipurduar, Jalpaiguri, West Bengal, 736121, India
None
Bardhaman, Barddhamān, Barddhaman, West Bengal, 713101, India
None
Murshidabad, West Bengal, 742149, India
Hooghly, Murshidabad, West Bengal, 742212, India
Purba Medinipur, West Bengal, India
Howrah, Hāora, West Bengal, 711101, India
Birbhum, West Bengal, India
S, 1st Cross Road, Phoolbagan, EB Block, Bidhannagar, Hāora, West Bengal, 700102, India

In [11]:
# Addings cols to df
districts['latitude'] = pd.Series(0.0, index=districts.index)
districts['longitude'] = pd.Series(0.0, index=districts.index)

In [12]:
for index, row in districts.iterrows():
    name = row['name']
    detail = dist_coor[name]
    if detail:
        print(detail.latitude, detail.longitude)
        districts.set_value(index, 'latitude', dist_coor[name].latitude)
        districts.set_value(index, 'longitude', dist_coor[name].longitude)

25.34562175 88.6365365627861
23.25 88.5
25.0057449 88.1398483
23.3409582 86.359433
22.3599134 87.2433317191606
23.25 87.25
26.6821128 88.3290687059284
26.5242986 88.7200216
26.4851573 89.5246926
23.244051 87.8689422
24.1745993 88.2721335
24.6424404 87.9279991
21.91675335 87.742317905083
22.5882216 88.323139
24.062774 87.6908189320474
22.58364745 88.4041730052545

In [13]:
districts

    id               name  district_code   latitude  longitude
0   16  North 24 Parganas             15   0.000000   0.000000
1   18   Dakshin Dinajpur             17  25.345622  88.636537
2   14              Nadia             13  23.250000  88.500000
3   10              Malda              9  25.005745  88.139848
4   15            Purulia             14  23.340958  86.359433
5   11  Paschim Medinipur             10  22.359913  87.243332
6    1            Bankura              1  23.250000  87.250000
7    4         Darjeeling              4  26.682113  88.329069
8    7         Jalpaiguri              7  26.524299  88.720022
9    8         ALIPURDUAR             19  26.485157  89.524693
10   9         Koochbihar              8   0.000000   0.000000
11   2          Bardhaman              2  23.244051  87.868942
12  19     Uttar Dinajpur             18   0.000000   0.000000
13  13        Murshidabad             12  24.174599  88.272133
14   6            Hooghly              6  24.642440  87.927999
15  12    Purba Medinipur             11  21.916753  87.742318
16   5             Howrah              5  22.588222  88.323139
17   3            Birbhum              3  24.062774  87.690819
18  17  South 24 Parganas             16  22.583647  88.404173

In [14]:
districts.to_csv('datasets/processed/districts.csv')